/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root HTML styles */
html {
    font-size: 62.5%;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 2rem;
}

/* Navigation styles */
nav {
    background-color: #1978d1; /* blue */
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}

nav li {
    margin-right: 2rem;
    list-style-type: none; /* This removes the bullets */
}

nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    color: #ff7f00; /* complementary orange */
}

/* Image styles */
img {
    width: 250px;
    height: 250px;
    border: 5px solid #1978d1;
    border-radius: 50%;
    margin-top: 15px;
}

/* Label styles */
label {
    display: block;
    margin: 0.5rem 0;
}

/* Social media icon styles */
.roll_over {
    height: 45px;
    width: 45px;
    margin-top: 15px;
    transition: background-position 0.5s ease;
}

.roll_over:hover {
    background-position: 0px -5px;
}

/* Project container styles */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    max-width: 1400px;
    margin: 2rem auto;
    padding: 20px;
}

.project-container a {
    display: block;
    width: 100%;
    max-width: 350px;
    height: 300px;
    background-color: #3792E6;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    transition: box-shadow 0.3s ease;
}

.project-container a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.project-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

/* Work in progress text styles */
h1 {
    font-size: 4rem; /* equivalent to 64px */
    margin-top: 20%;
}

p {
    font-size: 3rem; /* equivalent to 48px */
}