body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #1978d1;
}

img {
    width: 250px;
    height: 250px;
    border: 5px solid #1978d1;
    border-radius: 50%;
    margin-top: 15px;
}

label {
    display: block;
    margin: 0.5rem 0;
} 

.nav {
    list-style-type: none;
    margin: -8px;
    margin-bottom: 2px;
    padding: 0;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    background-color: #145da0;
  }

.personal-information {
    margin-left: 15px;
}

.roll_over {
    height: 45px;
    width: 45px;
    margin-top: 15px;
    display: inline-block;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.roll_over:hover {
    background-position: 0px -5px;
}

.facebook {
    background-image:url('https://img.icons8.com/color/48/1A1A1A/facebook.png');
}

.instagram {
    background-image:url('https://img.icons8.com/color/48/000000/instagram-new--v1.png');
}

.contact-form {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}